.timer {
  display: flex;
  justify-content: center;
  text-align: center;
  /* margin: 150px; */
  /* margin-top: 150px; */
  border: 1px solid white;
  height: 88%;
  width: 100%;
  left: 0;
  position: absolute;
}

button {
  margin: 10px !important;
}

.test {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 5px solid white;
  width: 500px;
  height: 500px;
  /* padding: 100px; */
}


/* .action-button {
  margin-top: 50px !important; 
}  */