div {
  text-align: center;
  background-color: #f4f1ec;
}

nav {
  background-color: #669DB3FF;
  padding-bottom: 10px;
}

h1 {
  color: #A89C94FF;
}

.title {
  color: #f4f1ec;
  padding: 20px;
}

body {
  overflow: hidden; 
}